div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 28px;
  padding: 2px;
  font: 10px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}

.agent-usage-controls {
  text-align: center;
}

.timelineSeries_rect {
  cursor: pointer;
}